.author-div{
    text-align: center;
    padding: 1rem !important;
   
}
.author-div div{
    margin-bottom: 1rem;

}
.author-introduction{
    font-size:.8rem;
    color: #999;
    
}
.account{
    background-color: #999;
    margin-left: .5rem !important;
    margin-right: .5rem !important;
}
.author-name{
    font-size: 1rem;
    color: #1890ff;
}
.author-tag{
    line-height: 27px;
}

.ant-avatar-image{
    background: #ccc !important;
}