.sl-row{
    padding:5px 0px;
    border-bottom:1px solid #eee;
}
.sl-title{
    padding-left: 5px;
    font-size: 1rem;
    color:#888 !important;
}
.sl-title1{
    padding-top: 5px;;
    font-size: 0.8rem;
    color: #ccc;
}
.sl-icon{
    padding-top: 5px;
}
.ls-main-title{
    font-size: 1rem;
    text-align: center;
    color: #888;
    padding: 6px;
    border-bottom: 1px solid #eee;
    
}