/service/node_modules
/service/logs
/service/run
/service/package-lock.json
/service/yarn.lock
/blog/node_modules
/blog/out
/blog/.next
/blog/package-lock.json
/blog/yarn.lock
/admin/node_modules
/admin/build
/admin/package-lock.json
/admin/yarn.lock