.bbd-img{
    border-radius: 5px;
    display:inline-block; 
}
.bbd-title{
    margin-top:10px;
}
.bbd-zi{
    color: #888;
}
.item-div{
    width: 100%;
    overflow: hidden;
}
.img-wrapper{
    display: block;
    
}

