body{
  background-color: #f4f5f5;  
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
  
  height: auto;
}

.comm-left{
  background-color: #FFF;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;
  margin-bottom: 16px;
}
.comm-box{
  background-color: #FFF;
  margin-left: .5rem;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;
 

}
.comm-main{
  margin-top: .5rem !important;
  max-width: 1100px;
  margin:0 auto;
 
}

.list-title{
  font-size:1.4rem;
  color: #1e90ff;
  padding: 0 0.5rem;
  margin-top: 1.3rem;
}
.list-context{
  color:#777;
  padding:.5rem;
}
.list-icon{
  padding:.5rem 0;
  color:#ccc;
}
.list-icon span{
  display: inline-block;
  padding: 0 10px;
}
.list-header{
  font-size: 1.1rem;
  padding-left:1rem;
}
.list-go{
  text-align: right;
  margin-right: 20px;
  color:#bbb;
}
.bbd-img{
  border-radius: 4px;
  width: 100%;
}
.bbd-title{
  margin-top:10px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.bbd-zi{
  color: #888;
}
.ant-card-body{
  padding:10px;
}
