.bread-div{
    padding: .5rem;
    border-bottom:1px solid #eee;
    background-color: #e1f0ff;
}

pre{
    display: block;
    background-color: #283646 !important;
     padding: .5rem !important;
     overflow-y: auto;
     font-weight: 300;
     font-family: Menlo, monospace;
     border-radius: .3rem;
}

pre >code{
    border:0px !important;
    background-color: #283646 !important;
    color:#FFF;

}
code {
    display: inline-block ;
    background-color:#fff5f5;
    border-radius:3px;
    padding-left: 5px;
    padding-right: 5px;
    color:#ff502c;
    margin: 0px 3px;
    line-height: 1.1rem;
    font-size: .87rem;

}